<div class="column col-12">
  <a href="{{ site.baseurl}}{{ post.url }}">
    <div class="card card-link my-1" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
      <div class="card-body">
        <div class="columns col-x-align">
          <div class="column col col-sm-12">
            <h5 class="text-semibold m-0">데뷔 못 하면 죽는 병 걸림</h5>
            <p class="m-0 text-dark">4년차 공시생, 낯선 몸에 빙의해 3년 전으로 돌아왔다. 그리고 그의 눈 앞에 나타난 갑작스러운 상태창의 협박!
              [돌발!] [상태이상 : '데뷔가 아니면 죽음을' 발생!] 돌연사 위협 때문에 팔자에도 없던 아이돌에 도전하게 된 주인공의 대환장 일지.
              ※특이사항 : 빙의 전 아이돌 데이터 찍어다 팔았었음
            </p>
          </div>
          <div class="column col-auto hide-sm">
            {% if site.use_authors == true %}
            {% assign post_author = site.data.authors[post.author] %}
            <div class="flex-vertical-center">
              <figure class="avatar d-inline-block" style="align-items: center;">
                <img  src="{{ site.baseurl }}/assets/{{ post_author.image}}" alt="...">
              </figure>
              <div class="ml-2">
                <p class="text-dark text-small mb-0">Written by <span class="text-primary">장진, 소흔, 백덕수</span></p>
              </div>
            </div>
            {% else %}
            {% endif %}
           
          </div>
        </div>
      </div>
    </div>
  </a>
</div>


