{% if site.help_one_title == null %}
{% else %}
<div class="column col-12 text-center mt-16">
  <h4>웹화면구현 기말 프로젝트</h4>
</div>
<div class="column col-4 col-sm-12 p-8 mb-8 col-mx-auto">
  <h5>목원대학교</h5>
  <p>대전 최초의 사립대학에서 중부권 최강의 혁신대학으로</p>
  <a href="https://www.mokwon.ac.kr/kr/">{{ site.help_one_button }} <i class='uil uil-arrow-right arrow-hover'></i></a>
</div>
{% endif %}
{% if site.help_two_title == null %}
{% else %}
<div class="column col-4 col-sm-12 p-8 mb-8 col-mx-auto">
  <h5>깃허브</h5>
  <p>깃허브 사이트입니다.</p>
  <a href="https://github.com/" target="_blank">{{ site.help_two_button}} <i class='uil uil-arrow-right arrow-hover'></i></a>
</div>
{% endif %}