{% if site.help_one_title == null %}
{% else %}
<div class="column col-12 text-center mt-16">
  <h4>제 소속을 알려드릴게요</h4>
</div>
<div class="column col-4 col-sm-12 p-8 mb-8 col-mx-auto">
  <h5>목원대학교 컴퓨터공학과</h5>
  <p>우리학과는 4차산업혁명의 핵심기술인 컴퓨팅 기초이론을 비롯하여 IoT, 클라우드, 빅데이터, 인공지능, 정보보호, 미디어 그래픽등에 관련된 이론과 실습을 병행하여 현장적응 능한 인재를 육성합니다.</p>
  <a href="https://www.mokwon.ac.kr/computer/">목원대학교 컴퓨터공학과 <i class='uil uil-arrow-right arrow-hover'></i></a>
</div>
{% endif %}
{% if site.help_two_title == null %}
{% else %}
<div class="column col-4 col-sm-12 p-8 mb-8 col-mx-auto">
  <h5>깃허브</h5>
  <p>대표적인 무료 Git 저장소. 2008년 공개했다. Git 호스팅 기능 덕분에 GitHub는 자유 소프트웨어와 오픈소스의 성지로 떠올랐다. 마스코트는 고양이와 문어를 합친 모습의 Octocat이다.</p>
  <a href="https://github.com/" target="_blank">깃허브 <i class='uil uil-arrow-right arrow-hover'></i></a>
</div>
{% endif %}